<section class="main">
  <ul>
    <li>
      <a [routerLink]="['/']" class="home-link">Home</a>
    </li>
    <li>
      <a
        [routerLink]="['/product', productId]"
        [queryParams]="{ category: 'sports' }"
        class="product-link"
        >Product with Children</a
      >
    </li>
    <li>
      <a [routerLink]="['', { outlets: { aux: 'chat' } }]" queryParamsHandling="merge">Open Chat</a>
    </li>
    <li>
      <a [routerLink]="[{ outlets: { aux: null } }]" queryParamsHandling="merge">Close Chat</a>
    </li>
  </ul>
  <nav>
    <button (click)="navigateToProductDetail()">
      Product with Children (navigate using code)
    </button>
  </nav>
</section>

<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>
